/*defaults*/
html {
  font-size: 18px;
  font-family: Helvetica;
  
}

.container {
  display:flexbox;
}

/*header*/
header {
  background-image: url('./Self-2024-1.jpg');
  background-size: 60%;
  background-repeat: no-repeat;
  height: 30rem;
}

.header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  padding: 1rem 2rem;
  background: #fff;
  margin-top: 1rem;
}

.banner-top img {
  height: 1.5rem;
  padding-right: 2rem;
}

nav ul li {
  display: inline;
  padding-left: 2rem;
}

.mobile-nav {
  display: none;
}

.motto {
  display: flex;
  justify-content: flex-start;
  margin-top: 1rem;
  margin-right: -2rem;
 }

.motto-text {
  line-height: 1.2;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: white;
  padding: 1.5rem 5rem;
  max-width: 300px;
  justify-content: center;
}
/*body*/
.icon-container {
  display: flex;
  justify-content: center;
}

.icons {
  display: flex;
  margin: 3rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 8rem;
  
}

.paper img {
  width: 3.5rem;
  margin-right: 6rem;
  margin-bottom: 1rem;
}

.ruler img {
  width: 5rem;
  margin-right: 6rem;
  margin-bottom: 2.7rem;
}

.truck img {
  width: 5rem;
  margin-bottom:2.5rem;
  
}

.information {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  margin-bottom: 5rem;
}

.info {
  display: flex;
  width: 35%;
  flex-direction: column;
  padding-right: 5%;
}

.info h2 {
  font-size: 1rem;
  font-weight: bold;
  font-family: Helvetica;
  background-color: cadetblue;
  color: white;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 1.25rem;
}

/*footer*/
footer .container {
  display: flex;
  background-color: azure;
  height: 10rem;
}

footer .container h2 {
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
  font-size: 1rem;
}

footer .container img {
  height: 1.5rem;
  margin: 4rem 1rem 4rem 4rem;
}

/*media queries*/
@media only and screen (max-width:1024px ) {
  .full {
    display: none;
  }
  
  .mobile-nav {
    display: block;
    width: 100%;
    margin: 0 auto 1rem;
  }
  
  .container {
    width: 100%;
  }
  
  .header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  padding: 1rem 2rem;
  background: fff;
}
 
}

@media only and screen (max-width:620px ) {
  .full {
    display: none;
  }
  
  .mobile-nav {
    display: block;
    width: 100%;
    margin: 0 auto 1rem;
  }
  
  .container {
    width: 100%;
  }
  
  .header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  padding: 1rem 2rem;
  background: cadetblue;
  color: white;
  }
}