body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #fff;
  }
  .title{
    font-size: 36px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 50px;
    color: #141c3a;
    background: #685500;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
  }
  #demo{
    text-align: center;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #141c3a;
    background: #685500;
    letter-spacing: 1px;
    font-style: italic;
  }
  .piano-container {
    display: flex;
    height: 350px;
    width: 100vw;
    background: #685500;
  }
  .piano{
    width: 405px;
    height:300px;
    display: inline-flex;
    justify-content: center;
    align-items: start;
    margin: 0 auto;
    background-color: #43223c;
    margin-top: 30px;
    z-index: 1;
  }
  .key{
    width: 40px;
    height: 240px;
    border: solid #141c3a 2px;
    box-shadow: 10px 15px;
    background-color: white;
    color: #141c3a;
    margin-right:2px;
    margin-left: 6px;
    margin-top: 30px;
    z-index: -1;
  }
  #high-c-key {
    margin-left: 1px !important;
  }
  #f-key {
    margin-left: 1px !important;
  }
  .black-key{
    width: 30px;
    height: 120px;
    display: inline-block;
    background-color: #141c3a;
    color: white;
    margin-left: -15px;
    margin-right: -20px;
    padding: 0px;
    margin-top: 30px;
  }
  .keynote{
    width: 20px;
    height: 20px;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 175px;
    color: #141c3a;
  }
  .black-keynote{
    width: 20px;
    height: 20px;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 75px;
  }
  .lyrics-container {
    background: #685500;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #lyrics{
    width: 400px;
    height: 240px;
    display: block;
    margin: 0 auto;
    padding-left: 20px;
    background-color: #1d282b;
  }
  #column-one, #column-two, #column-three, #column-four, #column-five, #column-six {
    width: 90px;
    display: inline-block;
    text-align: center;
    margin-top: 30px;
  }
  #column-optional{
    display: none;
  }
  #word-one, #word-two, #word-three, #word-four, #word-five, #word-six, #word-optional{
    background-color: white;
    width: 90px;
    height: 40px;
    padding-top: 10px;
    letter-spacing: 5px;
    color: #141c3a;
  }
  #letter-note-one, #letter-note-two, #letter-note-three, #letter-note-four, #letter-note-five, #letter-note-six,  #letter-note-optional{
    color: white;
    width: 25px;
    height: 25px;
    margin-top: 15px;
    margin-left: 35px;
  }
  #first-next-line, #second-next-line, #third-next-line, #fourth-next-line, #fifth-next-line, #sixth-next-line, #seventh-next-line, #eighth-next-line, #ninth-next-line, #tenth-next-line, #eleventh-next-line, #twelvth-next-line, #thirteenth-next-line, #fourteenth-next-line, #fifteenth-next-line, #sixteenth-next-line, #seventeenth-next-line, #eighteenth-next-line, #nineteenth-next-line, #twentieth-next-line, #twentyfirst-next-line, #twentysecond-next-line, #twentythird-next-line, #twentyfourth-next-line, #twentyfifth-next-line, #twentysixth-next-line, #next-start-over, #next-second-verse, #next-third-verse, #next-fourth-verse {
    width: 80px;
    height: 40px;
    font-size: 16px;
    position: absolute;
    margin-top: 30px;
    margin-left: 10px;
    border: none;
    letter-spacing: 1px;
    cursor: pointer;
    background-color: #7e9c61;
  }